<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Item</title>
</head>
<body>
        <form action="/item/edit/<%=data[0].id%>" method="post">
            <table>
            <tr>Nama Item</tr>
            <tr><input type="text" name="name" value="<%=data[0].name%>"></tr><br>
            <tr>Brand Item</tr>
            <tr><input type="text" name="brand" value="<%=data[0].brand%>" ></tr><br>
            <tr>Code Item</tr>
            <tr><input type="text" name="codeitem" value="<%=data[0].codeitem%>" ></tr><br>
            <tr><input type="submit" value="Submit"></tr>
            </table>
        </form>
       
</body>
</html>